/IntroToRails/config/master.key
/IntroToRails/tmp/cache
/new_app/config/master.key
/new_app/tmp
/new_app/log
/helpers_layouts_and_partials/.bundle
/helpers_layouts_and_partials/log/*
/helpers_layouts_and_partials/tmp/*
/helpers_layouts_and_partials/!/log/.keep
/helpers_layouts_and_partials/!/tmp/.keep
/helpers_layouts_and_partials/tmp/pids/*
/helpers_layouts_and_partials/!/tmp/pids/
/helpers_layouts_and_partials/!/tmp/pids/.keep
/helpers_layouts_and_partials/storage/*
/helpers_layouts_and_partials/!/storage/.keep
/helpers_layouts_and_partials/public/assets
/helpers_layouts_and_partials/.byebug_history
/helpers_layouts_and_partials/config/master.key
/helpers_layouts_and_partials/public/packs
/helpers_layouts_and_partials/public/packs-test
/helpers_layouts_and_partials/node_modules
/helpers_layouts_and_partials/yarn-error.log
/helpers_layouts_and_partials/yarn-debug.log*
/helpers_layouts_and_partials/.yarn-integrity