/IntroToRails/config/master.key
/IntroToRails/tmp/cache
/new_app/config/master.key
/new_app/tmp
/new_app/log
require 'helpers_layouts_and_partials/.gitignore'
require 'music_app_homework/.gitignore'
require 'Polymorphism_and_Concerns/.gitignore'